#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
  padding: 16px;
}

button{
  font-size: 48px;
}

a {
  color: #09f;
  font-size: 18px;
}

.App-logo{
  object-fit: contain;
  height: 200px;
  /* width: 60px; */
}

.App-content{
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}